body {
	position: relative;
}
h3, p {
	font-size: 20px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
	color: white;
	text-shadow: 10px 10px 80px black;
}
.shadow-text {
	font-size: 20px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: bold;
	color: white;
	text-shadow: 10px 10px 80px black;
}
.embedly-card p {
	font-size: 100px;
}
.well {
	min-height: 600px;
	max-height: 600px;
	background-color: #6F4E37;
}
#myBackground {
	background-image: url("https://www.pardot.com/content/themes/pardot/assets/images/header-newfeature.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
}
.social-preview {
	margin: 5px;
}
.row {
	margin-top: 70px;
}
img {
	border: solid;
	border-width: thick;
}
.thumbnail {
	background: transparent;
	border: none;
}
.standard-col {
	padding: 15px;
	font-size: 18px;
	min-height: 300px;
	margin-bottom: 10px;
}
.standard-so-col {
	padding: 15px;
	font-size: 18px;
	height: 300px;
	margin-bottom: 10px;
}
#insta-widget {
	height: 500px;
	margin-top: 10px;
	z-index: 10;
}
#embedly-card {
	background-color: white;
	z-index: 10;
}
