html,
body {
	background-color: #42a7f4;
	height: 100%;
}
#fullPage {
	height: 100%;
}
#myForm {
	position: absolute;
	width: 30%;
}
#searchBox,
#searchButton,
#randomButton {
	border: solid;
	border-color: black;
}
#searchButton,
#randomButton{
	background-color: transparent;
}
#randomImage {
	height: 29px;
}
