html, body {
	background-color: #ffff66;
}

#titleText {
	font-family: 'Baloo Bhaijaan', cursive;
	font-weight: bold;
	text-align: center;
	text-emphasis: bold;
}

.img-wrapper {
	position: relative;
}

.img-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.img-overlay:before {
	content: ' ';
	display: block;
	z-index: 2;
	height: 70%;
}

.pic-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	content: ' ';
	display: block;
	height: 10%;
}
/* Extra small devices (phones, less than 768px) */
.btn-responsive {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

.message {
	font-size: smaller;
}

.tweetIt {
	border: 10px solid transparent;
	padding: 5px;
	font-size: 10px;
	border-image: url(https://image.ibb.co/bBoyJa/Gold_elegant_fabric_fold_embossed_frame_rectangular_powerpoint_border.png)
		50
		round;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.message {
		font-size: smaller;
	}
	.btn-responsive {
		padding: 5px 10px;
		font-size: 12px;
		line-height: 1.5;
		border-radius: 3px;
	}
	.tweetIt {
		border: 20px solid transparent;
		padding: 10px;
		font-size: 12px;
		border-image: url(https://image.ibb.co/bBoyJa/Gold_elegant_fabric_fold_embossed_frame_rectangular_powerpoint_border.png)
			50
			round;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.message {
		font-size: medium;
	}
	.btn-responsive {
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		border-radius: 4px;
	}
	.tweetIt {
		border: 20px solid transparent;
		padding: 15px;
		border-image: url(https://image.ibb.co/bBoyJa/Gold_elegant_fabric_fold_embossed_frame_rectangular_powerpoint_border.png)
			50
			round;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.message {
		font-size: large;
	}
	.btn-responsive {
		padding: 10px 16px;
		font-size: 18px;
		line-height: 1.3333333;
		border-radius: 6px;
	}
	.tweetIt {
		border: 20px solid transparent;
		padding: 15px;
		border-image: url(https://image.ibb.co/bBoyJa/Gold_elegant_fabric_fold_embossed_frame_rectangular_powerpoint_border.png)
			50
			round;
	}
}

.oval-speech-border {
	position: relative;
	padding: 30px 30px;
	margin: 1em auto 60px;
	border: 10px solid #f3961c;
	text-align: center;
	color: #333;
	-webkit-border-top-left-radius: 240px 140px;
	-webkit-border-top-right-radius: 240px 140px;
	-webkit-border-bottom-right-radius: 240px 140px;
	-webkit-border-bottom-left-radius: 240px 140px;
	-moz-border-radius: 240px / 140px;
	border-radius: 140px / 140px;
}

/* creates larger curve */
.oval-speech-border:before {
	content: "";
	position: absolute;
	z-index: 2;
	bottom: -40px;
	right: 41%;
	width: 50px;
	height: 30px;
	border-style: solid;
	border-width: 0 10px 10px 0;
	border-color: #f3961c;
	margin-right: -10px;
	background: transparent;
	/* css3 */
	/* -webkit-border-bottom-right-radius:80px 50px; */
	-moz-border-radius-bottomright: 80px 50px;
	border-bottom-right-radius: 80px 50px;
	/* reduce the damage in FF3.0 */
	display: block;
}
/* creates smaller curve */
.oval-speech-border:after {
	content: "";
	position: absolute;
	z-index: 2;
	bottom: -40px;
	right: 41%;
	width: 20px;
	height: 31px;
	border-style: solid;
	border-width: 0 10px 10px 0;
	border-color: #f3961c;
	margin-right: 20px;
	background: transparent;
	/* css3 */
	-webkit-border-bottom-right-radius: 40px 50px;
	-moz-border-radius-bottomright: 40px 50px;
	border-bottom-right-radius: 40px 50px;
	/* reduce the damage in FF3.0 */
	display: block;
}

/* creates a white rectangle to cover part of the oval border*/
.oval-speech-border > :first-child:after {
	content: "";
	position: absolute;
	z-index: 1;
	bottom: -10px;
	right: 41%;
	width: 20px;
	height: 20px;
	background: #ffff66;
}
